@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    
    --neutral-grey-dark: hsl(234, 12%, 34%);
    --neutral-grey-light: hsl(212, 6%, 44%);
    --neutral-white: hsl(0, 0%, 100%);

    --fw-light: 200;
    --fw-med: 400;
    --fw-bold: 600;
    --ff: 'Poppins';
}

body {
    font-family: var(--ff);
    font-weight: 200;
    padding: 2rem 1rem;
}

.intro-content{
    margin: 0 auto;
    width: 50%;
    max-width: 750px;
    text-align: center;
    
}


.intro-content__heading--light {
    font-weight: var(--fw-light);
    display: block;
}

.card-grid-container {
    margin: 3rem auto;
    width: 90%;
    max-width: 70rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
   
    gap: 1.5rem;
}

.card {
    
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__icon {
    margin-top: 4em;
    align-self: flex-end;
}

.card--red {
    border-top: 3px solid var(--primary-red);
   grid-column: 2 / 3;
   grid-row: 1 / span 2;
}

.card--cyan {
    border-top: 3px solid var(--primary-cyan);
    grid-row: 2 / span 2
   
}

.card--orange {
    border-top: 3px solid var(--primary-orange);
    grid-column: 2 / 3;
    grid-row: span 2;
    
    
}

.card--blue {
    border-top: 3px solid var(--primary-blue);
    grid-row: 2 / span 2;
   
}

