@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    
    --neutral-grey-dark: hsl(234, 12%, 34%);
    --neutral-grey-light: hsl(212, 6%, 44%);
    --neutral-white: hsl(0, 0%, 100%);

    --fw-light: 200;
    --fw-med: 400;
    --fw-bold: 600;
    --ff: 'Poppins';
}

body {
    font-family: var(--ff);
    font-weight: 200;
}

.intro-content{
    margin: 0 auto;
    width: 50%;
    max-width: 750px;
    text-align: center;
    font-weight: 200;
    
}
